/* Initial CSS */
body {
  font-family: ”Open Sans”, sans-serif;
  height: 99dvh;
  margin: 0;
}

body:active {
  cursor: grab;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

main {
  text-align: center;
  width: 95dvw;
  margin: 1dvh auto;
  padding: 10px;
  border: 1px gray solid;
  border-radius: 5px;
}

/* Color widgets container and */
.container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.color-picker {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Color buttons */
.color-btn {
  color: black;
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.color-btn:not(:last-of-type) {
  margin-bottom: 20px;
}

.red-btn {
  background-color: red;
}

.orange-btn {
  background-color: orange;
}

.yellow-btn {
  background-color: yellow;
}

.green-btn {
  background-color: green;
}

.cyan-btn {
  background-color: cyan;
}

.indigo-btn {
  color: white;
  background-color: indigo;
}

.violet-btn {
  background-color: violet;
}

/* Color span names */
.color-name {
  color: inherit;
  background-color: inherit;
  font-size: 1rem;
  display: block;
  width: 50px;
  margin: 10px auto;
}

/* Color bar and its handle */
.color-bar {
  position: relative;
  width: 20px;
  height: 400px;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(255, 102, 102, 1) 50%,
    rgba(255, 0, 0, 1) 100%
  );
  margin-left: 20px;
  border-radius: 50px;
}

.drag-handle {
  position: absolute;
  background-color: white;
  border: 1px black solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 376px;
  left: -3px;
  cursor: pointer;
}

.drag-handle:active {
  cursor: grab;
}

/* Color Display */
.color-picked {
  width: 20dvw;
}

.color-display {
  width: 30dvw;
  height: 30dvw;
  background-color: black;
  margin: 20px 0 15px 20px;
}

.color-rgb {
  width: 132px;
  height: 24px;
}

@media (min-width: 426px) {
  main {
    width: 60dvw;
  }

  .container {
    width: 40dvw;
    margin: auto;
  }

  .color-picker {
    width: 550px;
    margin: 0 auto;
  }

  .color-btn {
    width: 150px;
    height: 50px;
  }

  .color-btn:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .color-name {
    font-size: 1.5rem;
    width: 100px;
    height: 35px;
    margin: 12px auto 0;
  }

  .color-display {
    width: 10dvw;
    height: 10dvw;
    margin: 0 auto 10px;
  }

  .color-rgb {
    width: 200px;
  }
}
